<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NowPlayingMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="NowPlayingMonitor_WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NowPlayingMonitor.Properties.Settings>
            <setting name="WindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CultureInfoName" serializeAs="String">
                <value>zh-Hans</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IsStartWithMinimize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsMinimizeToTrayWhenClosed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WorkDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="RefreshFrequency" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="WindowMonitorProcessName" serializeAs="String">
                <value />
            </setting>
            <setting name="WindowMonitorProcessId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowMonitorProgramPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ErrorLogFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastActivedTabIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsApplyLastUIState" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsSkipSilentStartOnce" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsMakeTopMostOnce" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PerferedTabIndexOnStartUp" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ActivatedMenuItemIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CurrentTheme" serializeAs="String">
                <value>Dark.Cyan</value>
            </setting>
        </NowPlayingMonitor.Properties.Settings>
        <NowPlayingMonitor_WPF.Properties.Settings>
            <setting name="WindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CultureInfoName" serializeAs="String">
                <value>zh-Hans</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IsStartWithMinimize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsMinimizeToTrayWhenClosed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WorkDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="RefreshFrequency" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="WindowMonitorProcessName" serializeAs="String">
                <value />
            </setting>
            <setting name="WindowMonitorProcessId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowMonitorProgramPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ErrorLogFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastActivedTabIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsApplyLastUIState" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsSkipSilentStartOnce" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsMakeTopMostOnce" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PerferedTabIndexOnStartUp" serializeAs="String">
                <value>-1</value>
            </setting>
        </NowPlayingMonitor_WPF.Properties.Settings>
    </userSettings>
</configuration>